/* Start Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #000;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.scrolled{
  background-color: rgba(0, 0, 0, 0.79) !important;
  padding: 5px;
}
.navbar .brand-name img{
  height : 30px;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  padding-left: 10px;
}
.navbar.navbar-dark .navbar-nav .nav-item.active a {
  color : #18bda4;
}
.navbar.navbar-dark .navbar-nav .nav-item:hover a{
  color : #18bda4;
}
@media (max-width: 991px){
  .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
}
/* End Navbar */

/* Start Header */
.header {
  position: relative;
  z-index: 1;
  background : url(../image/header.jpg) no-repeat center center fixed;
  min-height : 600PX;
}
.header .header-info{
  margin-top : 23%;
}
.header .header-info h1{
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 14px;
  margin: 0;
}
.header .header-info p {
  width : 60%;
  margin : auto;
  font-size: 18px;
  letter-spacing: 1px;
}
.header .header-info .header-button{
  padding: 10px 25px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.41);
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header .header-info .header-button:hover {
  background-color: #FFF;
  color: #000;
}
@media(max-width : 991px){
  .header .header-info {
    margin-top: 35%;
  }
  .header .header-info h1 {
    font-size: 45px;
  }
  .header .header-info p {
    width: 100%;
  }
}
@media(min-width: 992px) and (max-width: 1199px){
  .header .header-info {
    margin-top: 27%;
  }
  .header .header-info h1 {
    font-size: 55px;
  }
  .header .header-info p {
    width: 70%;
    margin: auto;
    font-size: 18px;
    letter-spacing: 1px;
  }
}
/* End Header */

/* Start Course Theme */
.course-theme {
  background-color : #FFF;
}
.course-theme .theme-info p{
  width: 50%;
  margin: auto;
  padding: 20px 0;
  color: #585858;
}
.course-theme .theme-info .theme-button {
  padding : 10px 25px;
  border : none;
  border-radius : 5px;
  background-color : #18bda4;
  color: #000;
  font-size: 18px;
  font-weight : 600;
}
.course-theme .theme-info .theme-button:hover{
  opacity: .9;
}
@media (max-width: 767px){
  .course-theme .theme-info h2 {
    font-size: 25px !important;
    line-height: 1.5 !important;
  }
  .course-theme .theme-info p {
    width: 100%;
  }
}
@media (max-width: 992px){
  .course-theme .theme-info p {
    font-size: 17px;
  }
}
@media (min-width: 768px) and (max-width : 991px) {
  .course-theme .theme-info h2 {
    font-size: 25px !important;
    line-height: 1.4 !important;
  }
  .course-theme .theme-info p {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width : 1199px){
  .course-theme .theme-info h2 {
    font-size: 30px !important;
  }
  .course-theme .theme-info p {
    width: 65%;
  }
}
/* End Course Theme */
/* Start Features */
.features{
  background-color: #f7f7f7;
  position : relative;
}
.features h2{
  margin-bottom: 25px !important;
}
.features .feat {
  margin-top: 65px;
  padding: 25px 15px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.features .feat i{
  color: #18bda4;
  margin-bottom: 20px;
  font-size: 30px;
}
.features .feat h3{
  font-weight: 700;
  margin-bottom: 10px;
  color: #323232;
  font-size: 23px;
}
.features .feat p{
  font-size: 17px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #4b4b4b;
  margin-bottom: 0;
}
@media(max-width : 767px) {
  .features .feat {
    margin-top: 40px;
    padding: 20px 15px;
  }
}
@media(min-width : 768px) and (max-width: 991px){
  .features .feat {
    margin-top: 50px;
  }
}
@media(min-width : 992px) and (max-width: 1199px) {
  .features .feat {
    margin-top: 50px;
  }
}
/* End Features */

/*Start Courses */
.courses {
  position: relative;
  min-height : 750px;
  background : url(../image/statistics.jpg) no-repeat center center fixed;
}
.courses .course {
  margin-top: 35px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.28);
  border: 1px solid rgba(0, 0, 0, 0.68);
  cursor : pointer;
}
.courses .course:hover {
  background-color: rgba(0, 0, 0, 0.116);
  border: 1px solid rgba(0, 0, 0, 0.68);
  
}
.courses .course i{
  font-size : 35px;
  color : #18bda4;
}
.courses .course h3{
  letter-spacing: 1px;
  padding-top: 10px;
  font-size: 25px;
  margin: 0;
}
.courses .course p {
  line-height: 1.6;
  font-size: 17px;
  color: #d0d0d0;
  padding-top: 10px;
  margin: 0;
}
.courses .course button{
  margin-top: 15px;
}

@media(max-width : 767px){
  .courses {
    min-height: 1955px;
  }
}
@media(min-width : 768px) and (max-width: 991px){
  .courses {
    min-height: 1275px;
  }
}
@media(min-width : 992px) and (max-width: 1199px) {
  .courses {
    min-height: 781px;
  }
  .courses .course p {
    line-height: 1.5;
    font-size: 16px;
    padding-top: 7px;
  }
  .courses .course button {
    padding: 8px 25px;
  }
}
/*End Courses */
/* Start clients */ 
.client .client-content{
  margin-top: 40px;
  border: 1px solid #dcdcdc;
  padding: 20px;
}
.client .client-content img {
  height:160px;
  width: 160px;
  border-radius : 50%;
  border : 3px solid #18bda4;
  -o-transition : all .7s ease-in-out;
  -moz-transition : all .7s ease-in-out;
  -webkit-transition : all .7s ease-in-out;
  transition : all .7s ease-in-out;
  cursor : pointer;
}
.client .client-content img:hover{
  transform : scale(1.1);
}
.client .client-content p{
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 2px solid #18bda4;
  padding: 0 8px 15px;
  color: #585858;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.client .client-content p i{
  color : #18bda4;
  font-size : 20px;
  margin-right: 7px;
}
.client .client-content span{
  font-size : 18px;
  color :#585858;
  letter-spacing : 1px;
}

@media (max-width: 767px){
  .client .client-content img {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .client .client-content p {
    padding-left: 0;
    padding-right: 0;
  }
  .client .client-content span {
    font-size: 15px;
  }
}
/* End clients */
/* Start Contact */
.contact{
  background-color : #000;
  color : #FFF;
  border-bottom : 1px solid #a9a9a9;
}
.contact .contact-info p{
  padding : 20px 0;
  width : 50%;
  margin : auto;
}
.contact .contact-info span{
  font-size : 20px;
}
.contact .contact-info ul{
  margin: 40px 0 0 0;
}
.contact .contact-info ul li {
  display: inline-block;
}
.contact .contact-info ul li a {
  text-decoration : none;
}
.contact .contact-info ul li a i {
  font-size : 30px;
  color : #FFF;
  -o-transition : all .7s ease-in-out;
  -moz-transition : all .7s ease-in-out;
  -webkit-transition : all .7s ease-in-out;
  transition : all .7s ease-in-out;
}
.contact .contact-info ul li a i.fa-facebook-f:hover {
  color: #3b5998;
}
.contact .contact-info ul li a i.fa-instagram:hover {
  color: #c13584;
}
.contact .contact-info ul li a i.fa-linkedin-in:hover {
  color: #0077b5;
}
@media(max-width : 992px) {
  .contact .contact-info img{
    height: 50px;
  }
  .contact .contact-info p {
    padding: 15px 0;
    width: 100%;
  }
  .contact .contact-info ul li a i {
    font-size: 25px;
    
  }
}

/* End Contact */
/* Start copyright */
.copyright{
  padding : 25px 0;
  background-color : #000;
  color : #FFF;
}
.copyright p{
  font-size : 20px;
  margin:0;
}
/* Start My Framework*/
.head-border:after{
  content: '';
  display: block;
  width: 85px;
  height: 3px;
  background-color: #18bda4;
  position: absolute;
  left: 46%;
  bottom: 0;
}
@media(max-width : 767px) {
  .head-border:after {
    left: 42%;
  }
}
@media (min-width: 768px) and (max-width : 991px) {
  .head-border:after {
    left: 44%;
  }
}
@media(min-width : 992px) and (max-width: 1199px) {
  .head-border:after {
    left: 45.5%;
  }
}

/* End My Framework*/
/* Start Grouping */
.header,
.courses {
  color : #FFF;
  -o-background-size : cover;
  -moz-background-size : cover;
  -webkit-background-size : cover;
  background-size : cover;
}
.header .overlay,
.courses .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/*End Grouping */
.buttonScroll{
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 40px;
  background-color: #111;
  color: #EEE;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  display : none;
}
.buttonScroll i{
  font-size : 25px;
}








/* Grouping */
.course-theme,
.features,
.courses .overlay,
.client,
.contact{
  padding: 70px 0;
}
@media(max-width : 991px) {
  .course-theme,
  .features,
  .courses .overlay,
  .client,
  .contact {
    padding: 50px 0;
  }
}



.course-theme .theme-info h2,
.features h2,
.courses h2,
.client h2 {
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  margin-bottom: 25px !important;
}
.course-theme .theme-info .theme-button,
.courses .course button {
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  background-color: #18bda4;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link,
.header .header-info .header-button,
.course-theme .theme-info .theme-button,
.courses .course {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

